{% extends 'layout/wrapper.html' %}

{% block title %}Поиск{% endblock %}

{% block content %}
  {% include 'layout/search_form.html' %}

  {% if query %}
      <p>Результаты поиска для '{{query}}':</p>

    {% for object in results %}
        <a href="{% url 'core:question' object.pk %}" class="list-group-item-action p-0">
          {{object.rendered|safe}}
        </a>
        <br>
      {% empty %}
          <p>Поиск не дал результата.</p>
      {% endfor %}
  {% endif %}

{% endblock %}
